html{
    height: 100%;
}

body{
    margin: 0%;
}
/* NAVBAR */
.box-header{
    display: flex;
    font-family: 'Francois One';
    color: white;
    background-color: #000000;
    text-shadow: 0px 2px 2px black;
    align-items: flex-end;
    justify-content: space-between;
    background-image: url(../imagens/header.png);
}

.navbarloginCadastro{
    display: flex;
    height: 100%;
    background-image: linear-gradient(360deg, #0000002e, transparent);
    cursor: pointer;
}

.navbarloginCadastro a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Francois One", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.navbarSair{
    display: flex;
    height: 100%;
    background-image: linear-gradient(360deg, #0000002e, transparent);
    cursor: pointer;
}

.navbarSair a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Francois One", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.box-header-items{
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.box-header-items p, h1{
    margin: 0px;
}

.navbar{
    background-color: #f1f1f1;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.navbar-item{
    background-color: #ffffff00;
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    border-right: 3px #cfcfcf91 groove;
    border-left: 3px #cfcfcf91 groove;
    background-image: inherit;
}

.navbar-items{
    display: flex;
    height: 100%;
    background-image: linear-gradient(360deg, #0000002e, transparent);
}

.navbar-items a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Francois One", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.navbar-items a:hover {
    color: rgb(202, 17, 17);
}

.navbarloginCadastro a:hover {
    color: rgb(202, 17, 17);
}

.navbarSair a:hover {
    color: rgb(202, 17, 17);
}
    
/* FIM NAVBAR */

/* INÍCIO LANDING PAGE */
/* .card{

} */

.card.content{
    display: flex;
    margin-left: 100px;
    font-family: "Francois One", sans-serif;
    text-shadow: 0px 2px 2px black;
    align-items: center;
}

.card.main{
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    border-width: 5px;
    border-style: solid;
    border-inline: none;
    border-top: none;
    border-color: #ffffff;
}

.card.image{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#card1{
    background-image: url(../imagens/111_SNME_12132025RF_27454.jpg);
    background-size: cover;
    background-position-y: -120px;
}

#card2{
    background-image: url(../imagens/1800s+Pro+Wrestling+banner.webp);
    background-size: cover;
}

#card3{
    background-image: url(../imagens/luchalibre.webp);
    background-size: cover;
    background-position-y: -120px;
}

#card4{
    background-image: url(../imagens/puroresu.jpg);
    background-size: cover;
    background-position-y: -180px;
}

#card5{
    background-image: url(../imagens/telecatch.avif);
    background-size: cover;
    background-position-y: -200px;
}

#card6{
    background-image: url(../imagens/goldenEra.jpg);
    background-size: 125%;
    background-position-y: -280px;
    background-position-x: 1px;
}

#card7{
    background-image: url(../imagens/Monday-Night-Wars.jpg);
}

#card8{
    background-image: url(../imagens/Diary_04062014rf_1784_No_Conf--07ce6c98cd50be9f1023b9b785c81dc9.jpg);
    background-size: cover;
    background-position-y: -120px;
}

#card9{
    background-image: url(../imagens/therock.jpg);
    background-size: cover; 
}

.card.main.mask{
    background-image: linear-gradient(90deg, #000000e0, #ffffff00);
    height: 100%;
    width: 60%;
}

/* #cardMainMask1{
    background-image: linear-gradient(90deg, #3f6d7f, #ffffff00);
} */

.subcard{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#subcard1{
    background-color: rgb(31, 31, 31);
}

.subcard.content{
    height: 400px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#subCardImg1-1{
    background-image: url(../imagens/dchiraw1672_01_ntwk_rev_1--a622a7657694a88fbe7e8359378c384f.jpg);
    background-size: cover;
}

#subCardImg1-2{
    background-image: url(../imagens/WM31_Photo_092-1572146115.jpg);
    background-size: cover;
}

#subCardImg1-3{
    background-image: url(../imagens/space-aew-tay-conti-vitoria.webp);
    background-size: cover;
}

#subCardImg1-4{
    background-image: url(../imagens/wm27_04032011cm_3388--5bc6c29f6b6445f4a991b7d75c7501be.jpg);
    background-size: cover;
    background-position-y: center;
}

#subCardTxt1-1, #subCardTxt1-2, #subCardTxt1-3, #subCardTxt1-4{
    background-color: #3f6d7f;
}

.subcard.image{
    background-color: white;
    height: 800px;
    width: 400px;
}

.subcard.text{
    background-color: crimson;
    width: 400px;
    height: 350px;
}

.subcard.text p{
    text-align: center;
    color: white;
    font-family: 'Francois One';
    text-shadow: 2px 2px 0px #00000085;
    margin-inline: 20px;
}



.img{
    background-color: white;
    width: 600px;
    height: 400px;
    display: flex;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    filter: drop-shadow(2px 2px 1px black);
}

.card.text{
    /* margin-left: 120px; */
    width: 600px;
}

.card.text p, .card.text h1{
    background-image: linear-gradient(90deg, #000000, transparent);
    padding: 20px;
}
/* FIM LANDING PAGE */

/* FOOTER */
footer{
    background-color: #000000;
    color: white;
    text-align: center;
    font-family: 'Francois One';
    width: 100%;
    bottom: 0%;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FIM FOOTER */

/* PÁGINA DE CADASTRO */
.body.cadastro {
    width: 100%;
    height: 100%;
    background-image: url(../imagens/bg5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: -400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card.form{
    background-color: #000000a6;
    padding: 20px;
    width: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    border-width: 2px;
    border-color: #f0f8ff61;
    border-style: groove;
    border-radius: 20px;
    font-size: 15px;
    backdrop-filter: blur(3px);
}

.card.form input{
    border-radius: 10px;
    border-style: none;
    height: 30px;
    width: 400px;
    font-family: 'Francois One';
    font-size: 16px;
    padding-inline: 10px;
}

.card.form select{
    height: 30px;
    width: 400px;
    font-family: 'Francois One';
    font-size: 16px;
    border-radius: 10px;
    padding-inline: 10px;
}

.card.form button{
    background-image: linear-gradient(360deg, #b1b1b1, #ffffff);
    height: 40px;
    width: 150px;
    font-family: 'Francois One';
    font-size: 16px;
    font-weight: bolder;
    border-radius: 10px;
    border-style: none;
    margin-block: 5px;
}

.card.form button:hover{
    color: rgb(202, 17, 17);
    border-style: solid;
    border-color: rgb(202, 17, 17);
}

.card.formContent{
    color: white;
    text-shadow: 0px 2px 2px black;
    font-family: "Francois One", sans-serif;
}
/* FIM PÁGINA DE CADASTRO */


/* PÁGINA DE LOGIN */

.body.login {
    width: 100%;
    height: 100%;
    background-image: url(../imagens/bg2.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card.alerta {
    display: none;
    background-color: #ab3535;
    width: 500px;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Francois One';
    color: white;
    text-shadow: 2px 2px black;
    border-radius: 10px;
}
/* FIM PÁGINA DE LOGIN  */

/* PÁGINA DA DASHBOARD */
.body.dashboard{
    width: 100%;
    height: 100%;
}

.body.dashboard.content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    margin-top: 100px;
}

.grafico{
    border-radius: 10px;
    border-color: #cfcfcf70;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}

.dashboard.graficos{
    display: flex;
    gap: 10px;
}

.kpis{
    display: flex;
    gap: 10px;
}

.kpi{
    background-color: rgb(60 74 89 / 86%);
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Francois One';
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-color: #cfcfcf70;
    border-style: solid;
    border-width: 2px;
}

.graficoLigas{
    color: beige;
}
/* FIM DASHBOARD  */

/* PÁGINA DO QUIZ*/
.body.quiz{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.cardQuiz{
}

.cardQuiz.pergunta{
    background-color: #636363d4;
    font-family: 'Francois One';
    color: white;
    text-shadow: 0px 2px 2px black;
    padding: 30px;
    border-width: 2px;
    border-color: #f0f8ff61;
    border-style: groove;
    border-radius: 20px;
    width: 450px;
}

.perguntaTitulo{
    font-size: 25px;
}

.cardQuizFinal{
    background-color: #636363d4;
    font-family: 'Francois One';
    color: white;
    text-shadow: 0px 2px 2px black;
    padding: 30px;
    border-width: 2px;
    border-color: #f0f8ff61;
    border-style: groove;
    border-radius: 20px;
    width: 450px;
    display: flex;
    font-size: larger;
    justify-content: center;
}

.cardQuiz.pergunta button{
    background-image: linear-gradient(360deg, #b1b1b1, #ffffff);
    height: 50px;
    width: 100%;
    font-family: 'Francois One';
    font-size: 16px;
    font-weight: bolder;
    border-radius: 10px;
    border-style: none;
    margin-block: 5px;
}

.cardQuiz.pergunta button:hover{
    color: rgb(202, 17, 17);
    border-style: solid;
    border-color: rgb(202, 17, 17);
}


.cardResposta{
    background-color: #636363d4;
    font-family: 'Francois One';
    color: white;
    text-shadow: 0px 2px 2px black;
    padding: 30px;
    border-width: 2px;
    border-color: #f0f8ff61;
    border-style: groove;
    border-radius: 20px;
    width: 650px;
    display: flex;
    font-size: larger;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cardResposta button{
    background-image: linear-gradient(360deg, #b1b1b1, #ffffff);
    height: 40px;
    width: 100%;
    font-family: 'Francois One';
    font-size: 16px;
    font-weight: bolder;
    border-radius: 10px;
    border-style: none;
    margin-block: 5px;
}

.cardResposta button:hover{
    color: rgb(202, 17, 17);
    border-style: solid;
    border-color: rgb(202, 17, 17);
}

.cardQuizFinal button{
    background-image: linear-gradient(360deg, #b1b1b1, #ffffff);
    height: 40px;
    width: 100%;
    font-family: 'Francois One';
    font-size: 16px;
    font-weight: bolder;
    border-radius: 10px;
    border-style: none;
    margin-block: 5px;
}

.cardQuizFinal button:hover{
    color: rgb(202, 17, 17);
    border-style: solid;
    border-color: rgb(202, 17, 17);
}

.cardQuizDeslogado{
    background-color: #636363d4;
    font-family: 'Francois One';
    color: white;
    text-shadow: 0px 2px 2px black;
    padding: 30px;
    border-width: 2px;
    border-color: #f0f8ff61;
    border-style: groove;
    border-radius: 20px;
    width: 650px;
    display: flex;
    font-size: larger;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}

.cardQuizDeslogado button{
    background-image: linear-gradient(360deg, #b1b1b1, #ffffff);
    height: 40px;
    width: 100%;
    font-family: 'Francois One';
    font-size: 16px;
    font-weight: bolder;
    border-radius: 10px;
    border-style: none;
    margin-block: 5px;
}

.cardQuizDeslogado button:hover{
    color: rgb(202, 17, 17);
    border-style: solid;
    border-color: rgb(202, 17, 17);
}

.bodyFilmesSeriesContent{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-block: 30px;
}

.filmesSeriesRow{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.filmesSeriesCard{
    width: 700px;
    height: 450px;
    background-color: #37312cd4;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-color: #ffffff4d;
    border-style: double;
    border-width: 3px;
}

.bodyFilmesSeries{
    display: flex;
    justify-content: center;
}

.bodyFilmesSeriesHeader{
    text-align: center;
    color: white;
    font-family: 'Francois One';
    text-shadow: 3px 3px 0px black;
    background-color: #00000082;
}

.filmesSeriesCardDiv1{
    display: flex;
    gap: 20px;
    font-family: 'Francois One';
    color: beige;
    font-size: larger;
    text-shadow: 3px 3px 0px black;
    align-items: center;
}

.filmesSeriesCardHeader{
    display: flex;
    font-family: 'Francois One';
    color: beige;
    text-shadow: 3px 3px 0px black;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.filmesSeriesCardPoster img{
    width: 250px;
}

.filmesSeriesCardTrailer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.popcornPreFooter img{
    width: 100%;
}

.bodyGlossario{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.bodyGlossarioContent{
background-color: #ffffff30;
    color: floralwhite;
    text-shadow: 2px 2px 0px black;
    font-family: 'Francois One';
    padding: 20px;
    width: 1000px;
    border-width: 2px;
    border-color: #f0f8ff61;
    border-style: groove;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.bodyLigas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.cardLigas{
    background: #4b4b4be8;
    height: 400px;
    width: 800px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Francois One';
    color: antiquewhite;
    text-shadow: 2px 2px #000000bf;
    backdrop-filter: blur(3px);
    font-size: larger;
    border-width: 2px;
    border-color: #f0f8ff61;
    border-style: groove;
    border-radius: 20px;
}

.logoLiga{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1{
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
}

.bodyLutadores{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 50px;
    gap: 50px;
}

.cardLutadores{
    background: #4b4b4be8;
    height: 200px;
    width: 800px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-family: 'Francois One';
    color: antiquewhite;
    text-shadow: 2px 2px #000000bf;
    backdrop-filter: blur(3px);
    font-size: larger;
    border-width: 2px;
    border-color: #f0f8ff61;
    border-style: groove;
    border-radius: 20px;
    flex-direction: row;
    padding-inline: 50px;
    gap: 30px;
}

.fotoLutador{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lutadoresDiv1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nomeLutador{
    display: flex;
    height: 30px;
    align-items: center;
}



.fotoLutador img{
    border-radius: 10px;
    border-color: #ffffff94;
    border-style: groove;
    border-width: 2px;
}