html{
    height: 100%;
}

body{
    margin: 0%;
    height: 100%;
}
/* NAVBAR */
.box-header{
    display: flex;
    font-family: 'Francois One';
    color: white;
    background-color: #000000;
    text-shadow: 0px 2px 2px black;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar-loginCadastro{
    display: flex;
    height: 100%;
    background-image: linear-gradient(360deg, #0000002e, transparent);
}

.navbar-loginCadastro a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Francois One", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.box-header-items{
    margin-left: 10px;
}

.box-header-items p, h1{
    margin: 0px;
}

.navbar{
    background-color: #f1f1f1;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.navbar-item{
    background-color: #ffffff00;
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    border-right: 3px #cfcfcf groove;
    border-left: 3px #cfcfcf groove;
    background-image: inherit;
}

.navbar-items{
    display: flex;
    height: 100%;
    background-image: linear-gradient(360deg, #0000002e, transparent);
    /* justify-content: center; */
    /* gap: 30px; */
}

.navbar-items a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Francois One", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.navbar-items a:hover {
    color: rgb(202, 17, 17);
}

.navbar-loginCadastro a:hover {
    color: rgb(202, 17, 17);
}
    
/* FIM NAVBAR */

/* INÍCIO LANDING PAGE */
.card{

}

.card.content{
    display: flex;
    padding: 20px;
    font-family: "Francois One", sans-serif;
    text-shadow: 0px 2px 2px black;
    align-items: center;
}

.card.main{
    color: white;
    background-image: url(../imagens/bg.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position-x: center;
    background-position-y: -250px;
    background-size: cover;
}

.card.image{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img{
    background-color: white;
    width: 600px;
    height: 400px;
    display: flex;
}

.card.text{
    margin-left: 120px;
}

.card.text p{
    background-color: #000000a1;
    padding: 20px;
}
/* FIM LANDING PAGE */

/* FOOTER */
footer{
    background-image: linear-gradient(360deg, #000000, transparent);
    color: white;
    text-align: center;
    font-family: 'Francois One';
    position: fixed;
    width: 100%;
    bottom: 0%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FIM FOOTER */

/* PÁGINA DE CADASTRO */
.body.cadastro {
    width: 100%;
    height: 100%;
    background-image: url(../imagens/bg2.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card.form{
    background-color: #000000cc;
    padding: 20px;
    width: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card.formContent{
    color: white;
    text-shadow: 0px 2px 2px black;
    font-family: "Francois One", sans-serif;
}

/* PÁGINA DE LOGIN */

.body.login {
    width: 100%;
    height: 100%;
    background-image: url(../imagens/bg2.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card.alerta {
    display: none;
    background-color: aqua;
    width: 200px;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
}