body{
    background-image: url(../imagens/bg.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0%;
}

.box-header{
    font-family: 'Francois One';
    color: white;
    background-image: linear-gradient(45deg, black, transparent);
    text-shadow: 0px 2px 2px black;    
}

.box-header-items{
    margin-left: 10px;
}

.navbar{
    background-color: #f1f1f1;
    height: 50px;
}

.navbar-item{
    background-color: #ffffff00;
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    border-right: 3px #cfcfcf groove;
    border-left: 3px #cfcfcf groove;
    background-image: inherit;
}

.navbar-items{
    display: flex;
    height: 100%;
    background-image: linear-gradient(360deg, #0000002e, transparent);
    justify-content: center;
    gap: 30px;
}

.navbar-items a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Francois One", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.navbar-items a:hover {
    color: rgb(165 65 65);
}
    

.card{
    color: white;
    margin-top: 50px;

}

.card.content{
    display: flex;
    padding: 20px;
    font-family: "Francois One", sans-serif;
    text-shadow: 0px 2px 2px black;
    
    background-color: #00000070;
}

footer{
    background-image: linear-gradient(360deg, #000000, transparent);
    color: white;
    text-align: center;
    font-family: 'Francois One';
    position: fixed;
    width: 100%;
    bottom: 0%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.main{
    padding-inline: 200px;
}

.card.image{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img{
    background-color: white;
    width: 600px;
    height: 400px;
    display: flex;
}

.card.text{
    margin-left: 120px;
}